/* format color:
    background-color: rgb(240,240,240);
    border-color: lightgray;
    hover: white;
    .navbar background-color: rgb(251,251,255);

    format font-size:
    h1: 2.4rem;
    h2: 1.6rem;
    h3: 1.2rem;
*/

@font-face {
    font-family: SF_Pro_Rounded_Regular;
    src: url(../font/SF-Pro-Rounded-Regular.otf);
}

*{
    font-family:SF_Pro_Rounded_Regular;
    line-height: 2rem;
    font-size: 1rem;
    cursor: default;
    scroll-behavior: smooth;
}

#loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}

#loader::before{
    content: '';
    width: calc(20 * min(1vw, 1vh));
    height: calc(20 * min(1vw, 1vh));
    border-radius: 50%;
    border: 1rem solid transparent;
    border-top: 1rem solid black;
    animation: spin 0.4s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.hutao{
    display: none;
}

/* unused, change display:none to display:block to activate */
@media (color-gamut: P3){
    .hutao{
        display: none;
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 20%;
        line-height: normal;
    }
}

#toggle{
    display: none;
}

.toggle{
    cursor: pointer;
    position: fixed;
    right: 8%;
    top: 6rem;
    cursor: url('../photo/cursor.hutao.png') 16 4, auto;
    transition: all 0.4s;
    max-width: 10%;
}

.toggle .toggle_image{
    width: 4rem;
    height: 4rem;
    background-image: url(../photo/P0.4.png);
    background-size: cover;
    display: inline-block;
    cursor: url('../photo/cursor.hutao.png') 16 4, auto;
}

.toggle p{
    line-height: 0.8rem;
    position: relative;
    top: -1.6rem;
    cursor: url('../photo/cursor.hutao.png') 16 4, auto;
}

#toggle:checked + .toggle_image + p{
    color: rgb(205,192,164);
}

h1{
    text-align: center;
    margin-top: 6rem;
    font-size: 2.4rem;
}

h2, h2 a{
    font-size: 1.6rem;
}

h3, h3 a{
    font-size: 1.2rem;
}

/* table of contents */
.toc{
    display: flex;
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(240,240,240,0.32);
    border: 0.25rem solid lightgray;
    border-radius: 1rem;
    position: relative;
    backdrop-filter: blur(1rem);
}

.toc a{
    text-decoration: none;
    font-size: 1.6rem;
    z-index: 1;
}

.toc:hover{
    padding-bottom: 4rem;
    transition: 0.2s;
    list-style: none;
    background-color: white;
}

.toc_hutao{
    display: none;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.toc_left, .toc_right{
    display: none;
}

.separate_line{
    margin: 16px 0;
}

.photo_inline{
    border: 0.25rem solid lightgray;
    border-radius: 1rem;
    max-width: 80%;
    transition: all 0.4s;
}

/* Hutao photo at the bottom left corner */
.photo_hutao{
    display: none;
}

.photo_lycoris{
    display: none;
}

.drawing_lycoris{
    display: none;
}

.drawing_lilium{
    display: none;
}

.all_container{
    width: 60%;
    margin: 0 auto;
    z-index: 2;
    transition: all 0.4s;
}

.h2_container{
    background-color: rgb(240, 240, 240);
    padding: 1rem;
    border-radius: 1rem;
}

.h3_container{
    padding: 1rem;
    border: 0.25rem rgb(240,240,240);
    border-radius: 16px;
}

.h3_container:hover{
    background-color: white;
    border-color: lightgray;
    transition: all 0.2s;
}

.quote{
    border-left: 0.25rem solid lightgray;
    border-radius: 0.5rem;
    padding-left: 1rem;
    margin-left: 4rem;
}

.table_head_separate_line{
    background-color: lightgray;
    height: 2px;
}

.table_head{
    margin: 0 1rem;
}

.table_separate_line{
    background-color: rgb(220,220,220);
    height: 2px;
}

svg{
    position: relative;
    top: 0.375rem;
}

.navbar{
    max-width: 60%;
    position: fixed;
    background-color: rgb(251,251,255);
    width: 100%;
    display: block;
    left: 0;
    padding: 0.5rem 20%;
    top: 0;
    margin: 0;
    z-index: 10;
    border-bottom: 2px solid lightgray;
    transition: all 0.4s;
}

.h2_container.hidden{
    opacity: 0;
    transform: scale(0.8) translateY(-100%);
    transition: all 0.4s;
}

.contact input, .contact #content{
    color: black;
    width: 100%;
    border-radius: 1rem;
    border: 2px solid black;
    padding-left: 0.64rem;
    box-sizing: border-box;
    line-height: 1.6rem;
}

.contact #content{
    height: 8rem;
    min-width: 100%;
    max-width: 100%;
    min-height: 8rem;
    overflow: hidden;
    resize: vertical;
}

.contact #submit{
    background-color: lightgray;
    align-items: center;
    text-align: center;
}

.success{
    opacity: 0;
    position: fixed;
    width: 40%;
    min-height: 20vh;
    border-radius: 1rem;
    left: 30%;
    top: 60%;
    text-align: center;
    background-color: lightgray;
    transform: scale(0.8);
    transition: all 0.4s;
    z-index: -1;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
}

.success.show{
    opacity: 1;
    top: 40%;
    transform: scale(1);
    z-index: 9999;
}

.success_text{
    font-size: 1.6rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.success_center{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 20%;
    max-width: 40%;
}

.success_left{
    position: absolute;
    left: 10%;
    bottom: 20%;
    max-width: 40%;
}

.success_right{
    position: absolute;
    right: 10%;
    bottom: 20%;
    max-width: 40%;
}

.overlay{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.64);
    backdrop-filter: blur(16px);
    z-index: -1;
    transition: all 0.4s;
}

.overlay.show{
    opacity: 1;
    z-index: 2;
}

@media (max-width: 800px){
    .navbar{
        max-width: 80%;
        padding: 8px 10%;
    }

    .all_container{
        width: 80%;
    }
    .toggle{
        right: 0%;
        max-width: 10%;
    }

    .drawing_lilium{
        transform: translateX(-100%);
    }
    
    .drawing_lycoris{
        transform: translateX(100%);
    }
}