*{
    font-family: sans-serif;
    line-height: 32px;
}

h1{
    text-align: center;
}
/* table of contents */
.toc{
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
    border: 4px solid gray;
    border-radius: 16px;
}

.separate_line{
    margin:16px 0;
}

.photo_right{
    position: absolute;
    display: inline-block;
    right: 20%;
    margin: 0 16px 0 0;
    border: 4px solid lightgray;
    border-radius: 16px;
}

.step1_container{
    max-width: 400px;
    height: 829px;
    padding: 12px;
    border: 4px rgb(240, 240, 240);
    border-radius: 16px;
}

.step1_container:hover,
.step2_container:hover,
.step3_container:hover{
    background-color: white;
    border-color: lightgray;
    transition: all 0.2s;
}

.step2_container{
    max-width: 400px;
    height: 725px;
    padding: 12px;
    border: 4px rgb(240, 240, 240);
    border-radius: 16px;
}

.step3_container{
    padding: 12px;
    border: 4px rgb(240, 240, 240);
    border-radius: 16px;
}

.all_container{
    width: 60%;
    margin: 0 auto;
}

.h2_container{
    background-color: rgb(240, 240, 240);
    padding: 16px;
    border-radius: 32px;
}