@font-face {
    font-family: SF_Pro_Rounded_Regular;
    src: url(/font/SF-Pro-Rounded-Regular.otf);
}

*{
    font-family:SF_Pro_Rounded_Regular;
    line-height: 32px;
    font-size: 16px;
}

.hutao{
    display: none;
}

@media (color-gamut: P3){
    .hutao{
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 20%;
        display: block;
        line-height: normal;
    }
}

h1{
    text-align: center;
    margin-top: 80px;
    font-size: 32px;
}
/* table of contents */
.toc{
    padding: 10px;
    margin: 10px;
    background-color: rgb(240,240,240);
    border: 4px solid lightgray;
    border-radius: 16px;
}

.separate_line{
    margin:16px 0;
}

.photo_inline{
    border: 4px solid lightgray;
    border-radius: 16px;
    max-width: 80%;
}

.photo_right{
    max-width: 24%;
    position: absolute;
    display: inline-block;
    right: 20%;
    margin: 0 16px;
    border: 4px solid lightgray;
    border-radius: 16px;
}

.all_container{
    width: 60%;
    margin: 0 auto;
}
/* everything under create brand */
.step1_container{
    max-width: 50%;
    height: 829px;
    padding: 16px;
    border: 4px rgb(240, 240, 240);
    border-radius: 16px;
}

.step2_container{
    max-width: 50%;
    height: 725px;
    padding: 16px;
    border: 4px rgb(240, 240, 240);
    border-radius: 16px;
}

.step3_container{
    padding: 16px;
    border: 4px rgb(240, 240, 240);
    border-radius: 16px;
}

.step1_container:hover,
.step2_container:hover,
.step3_container:hover{
    background-color: white;
    border-color: lightgray;
    transition: all 0.2s;
}
/* same as step1-3_container, but applicable to those without photos */
.h3_container{
    padding: 16px;
    border: 4px rgb(240,240,240);
    border-radius: 16px;
}

.h3_container:hover{
    background-color: white;
    border-color: lightgray;
    transition: all 0.2s;
}
/* containing everything under h2 and its contents */
.h2_container{
    background-color: rgb(240, 240, 240);
    padding: 16px;
    border-radius: 32px;
}

.quote{
    border-left: 4px solid lightgray;
    border-radius: 8px;
    padding-left: 16px;
    margin-left: 64px;
}

.table_head_separate_line{
    background-color: lightgray;
    height: 2px;
}

.table_head{
    margin: 0 16px;
}

.table_separate_line{
    background-color: rgb(220,220,220);
    height: 2px;
}

svg{
    position: relative;
    top: 6px;
}

.navbar{
    max-width: 60%;
    position: fixed;
    background-color: rgb(251,251,255);
    width: 100%;
    display: block;
    left: 0;
    padding: 8px 20% 8px 20%;
    top: 0;
    margin: 0;
    z-index: 9999;
    border-bottom: 2px solid rgb(211,211,212);
}