*{
    font-family: sans-serif;
    line-height: 24px
}

h1{
    text-align: center;
}

.toc{
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
    border: 4px solid gray;
    border-radius: 16px;
}

.photo_right{
    position: absolute;
    display: inline-block;
    left: 440px;
    border: 4px solid red;
}

.step_container{
    max-width: 400px;
    height: 800px;
}